<div class="modal-header">
    <h3 class="modal-title text-uppercase">Ocorreu um erro ao enviar alguns vídeos</h3>
</div>

<div class="modal-body">
    
    <div class="panel panel-danger">
        
        <div class="panel-heading">Lista de vídeos com falha</div>
        
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="video in vm.params">
                <span>{{video.name}} - <small>{{video.size | bytes}}</small></span>
            </li>
        </ul>
        
    </div>
    
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="vm.ok()">Reenviar arquivos com falha</button>
    <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Não reenviar arquivos com falha</button>
</div>